body {
    font-family: sans-serif;
   
    
    
    
}
   

h1 {
    font-size: 40px;
   
    color:  rgb(56, 56, 55);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inf{
    font-size: 20px;
    font-weight: 700;
    color:#481677;
}

p{
    width: 70%;
}

main{
   margin-left: 180px;
}

.about{
   
    background-color:  rgb(56, 56, 55);
    top: 20px;
     color: whitesmoke;
}


nav a{
    position: absolute;
    left:  -80px;
    transition: 0.3s;
    width: 100px;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    color: white;
   border-radius: 0px 5px 5px 0px;

   
}


a:hover{
    left: 0;
}


.blog{
    top: 80px;
    background-color:  rgb(56, 56, 55);
     color: whitesmoke
}

.projects{
    top: 140px;
        background-color:  rgb(56, 56, 55);
}

.contact{
     top: 200px;
        background-color: rgb(56, 56, 55);
}


img{
    
    border-radius: 20px;
    border: 0px solid  rgb(130, 213, 136) ;
}


img:hover{
     transition: 0.3s;
       opacity: 1;
    border: 10px solid  rgb(56, 56, 55)
 ;
    padding: 10px;
}


footer{
    background-color:  rgb(56, 56, 55);
    text-align: center;
    color: aliceblue;
  
}

.Блог {
  display: block;
  margin: 20px auto;
  padding: 15px 30px;
  background-color: #383837;
  color: #ffffff;
  text-decoration: none;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
}
.Блог {
  opacity: 0.9;
}
